:root {
    --qlock-hh-color: #DE7A22;
    --qlock-hh-progress-height: 2vmin;
    --qlock-hh-left-angle: 0deg;
    --qlock-hh-right-angle: 0deg;

    --qlock-mm-color: #F4CC70;
    --qlock-mm-progress-height: 1.5vmin;
    --qlock-mm-left-angle: 0deg;
    --qlock-mm-right-angle: 0deg;

    --qlock-ss-color: #6AB187;
    --qlock-ss-progress-height: 1vmin;
    --qlock-ss-left-angle: 0deg;
    --qlock-ss-right-angle: 0deg;

    --qlock-bg-color: #FFF;
    --qlock-size: 50vmin;
    --qlock-text-size: 10vmin;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: var(--qlock-bg-color);
}

.qlock {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: var(--qlock-size);
    height: var(--qlock-size);

    text-align: center;
}

.qlock__time {
    z-index: 10;

    font-size: var(--qlock-text-size);
    font-style: italic;
}

.qlock__circle {
    position: absolute;
    top: var(--qlock-circle-padding);
    right: var(--qlock-circle-padding);
    bottom: var(--qlock-circle-padding);
    left: var(--qlock-circle-padding);

    overflow: hidden;

    border-radius: 100%;

    --qlock-circle-size: calc(var(--qlock-size) - (var(--qlock-circle-padding) * 2));
    --qlock-circle-half-size: calc(var(--qlock-circle-size) / 2);

    --qlock-left-rect: rect(0, var(--qlock-circle-half-size), var(--qlock-circle-size), 0);
    --qlock-right-rect: rect(0, var(--qlock-circle-size), var(--qlock-circle-size), var(--qlock-circle-half-size));
}

.qlock__circle_type_hh {
    --qlock-circle-padding: 0;

    /* TODO: fix and remove doubled --qlock-*-rect */
    --qlock-left-rect: rect(0, calc(var(--qlock-size) / 2), var(--qlock-size), 0);
    --qlock-right-rect: rect(0, var(--qlock-size), var(--qlock-size), calc(var(--qlock-size) / 2));

    --qlock-left-angle: var(--qlock-hh-left-angle);
    --qlock-right-angle: var(--qlock-hh-right-angle);
    --qlock-progress-height: var(--qlock-hh-progress-height);
    --qlock-progress-color: var(--qlock-hh-color);
}

.qlock__circle_type_mm {
    --qlock-circle-padding: var(--qlock-hh-progress-height);

    --qlock-left-angle: var(--qlock-mm-left-angle);
    --qlock-right-angle: var(--qlock-mm-right-angle);
    --qlock-progress-height: var(--qlock-mm-progress-height);
    --qlock-progress-color: var(--qlock-mm-color);
}

.qlock__circle_type_ss {
    --qlock-circle-padding: calc(var(--qlock-hh-progress-height) + var(--qlock-mm-progress-height));

    --qlock-left-angle: var(--qlock-ss-left-angle);
    --qlock-right-angle: var(--qlock-ss-right-angle);
    --qlock-progress-height: var(--qlock-ss-progress-height);
    --qlock-progress-color: var(--qlock-ss-color);
}

.qlock__semicircle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.qlock__semicircle-inner {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: var(--qlock-progress-color);
}

.qlock__semicircle_type_left {
    clip: var(--qlock-left-rect);
}

.qlock__semicircle_type_left .qlock__semicircle-inner {
    clip: var(--qlock-right-rect);
    transform: rotate(var(--qlock-left-angle));
}

.qlock__semicircle_type_right {
    clip: var(--qlock-right-rect);
}

.qlock__semicircle_type_right .qlock__semicircle-inner {
    clip: var(--qlock-left-rect);
    transform: rotate(var(--qlock-right-angle));
}

.qlock__cutout {
    position: absolute;
    top: var(--qlock-progress-height);
    right: var(--qlock-progress-height);
    bottom: var(--qlock-progress-height);
    left: var(--qlock-progress-height);

    background-color: var(--qlock-bg-color);
    border-radius: 100%;
}
